@charset "utf-8";

* {
    /*height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #E1E4FD, #6F717D);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #414249a5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4A507D;
    text-align: center;
    text-shadow: 1px 1px 2px #41476ec3;
}

h2 {
    color: #7780C9;
}

p {
    text-align: justify;
}